{% extends 'base.html' %}
{% block content %}

<a href="/tags">Go Back</a>
<div>
    <h1>{{tag.name}}</h1>
    <ul>
        {% for post in tag.posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>

    <form>
        <!-- <button type="submit" class="cancel-button" formaction="/tags" formmethod="">Cancel</button> -->
        <button type="submit" class="edit-button" 
        formaction="/tags/{{tag.id}}/edit">
        Edit
        </button>
        <button type="submit" class="delete-button" formaction="/tags/{{tag.id}}/delete" formmethod="POST">Delete</button>
    </form>
</div>
{% endblock %}