{% extends 'base.html' %}
{% block content %}

<a href="/users/{{post.user.id}}">Go Back</a>
<div>
    <h1>{{post.title}}</h1>

    <p>{{post.content}}</p>
    <p><i>By {{post.user.full_name}} on {{post.friendly_date}}</i></p>

    <p>
        <b>Tags:</b>
        {% for tag in post.tags %}
            <a href="/tags/{{tag.id}}"><i class="tag-on-post">{{tag.name}}</i></a>
        {% endfor %}
    </p>
    
    <form>
        <button type="submit" class="cancel-button" formaction="/users/{{post.user.id}}" formmethod="">Cancel</button>
        <button type="submit" class="edit-button" 
        formaction="/posts/{{post.id}}/edit">
        Edit
        </button>
        <button type="submit" class="delete-button" formaction="/posts/{{post.id}}/delete" formmethod="POST">Delete</button>
    </form>
</div>
{% endblock %}