a {
    text-decoration: none;
    color: blue;
  }
a:active {
    color: purple;
  }
body {
    background-color: rgb(172, 142, 103);
}
button {
  background-color: grey;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.delete-button {
  background-color:red;
}

.edit-button {
  background-color:blue;
}

.add-button {
  background-color:green;
}

.cancel-button {
  background-color:cyan;
}

.save-button {
  background-color:green;
}

img{
  max-width:250px;
  max-height:250px;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
}

/* label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
}

input {
  height: 20px;
  flex: 0 0 200px;
  margin-left: 10px;
} */

.text-entry {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 300px
}

.btn {
  float: right;
  margin-bottom: -20px;
}
.p-err {
  /* position: absolute; */
  /* transform: translateX(45%); */
  margin: auto 450px;
  text-align: center;
  /* max-width: 200px; */
  color: rgb(214, 98, 62);
  background-color: rgb(68, 66, 66);
  /* display: inline-block; */
}

/* .tag-on-post {
  font-size: small;
  background-color: blue;
  color: white;
  border-radius: 2px; */
  /* font-weight: lighter;
} */